# Basic ignores
./git/
.gitignore
node_modules/

# Smart contracts and Truffle folders
build/contracts/*
!build/contracts/Warehouse.json
!build/contracts/Registry.json
contracts/
migrations/
truffle-config.js

# Misc
npm-debug.log
