# Basic ignores
./git/
.gitignore
node_modules/

# Smart contracts and Truffle folders
build/
contracts/
migrations/
truffle-config.js

# Misc
npm-debug.log
package-lock.json
package.json
webpack.config.js
